---
layout: default
title: Portfolio
cardsPerRow: 3
---

<h1>Latest Posts</h1>
{% assign numPosts = site.posts.size %}
{% assign numRows = numPosts | divided_by: 3.0 | ceil %}
{% assign index = 0 %}
{% for row in (0..numRows) %}
  <div class="row">
    {% assign numCol = numPosts | minus: index %}
    {% if numCol > page.cardsPerRow %}
      {% assign numCol = page.cardsPerRow %}
    {% elsif numCol <= 0 %}
      {% assign numCol = -1 %}
    {% endif %}

    {% for i in (1..numCol) %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{site.url}}/{{ site.posts[index].img }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ site.posts[index].title }}</h5>
            <p class="card-text">{{ site.posts[index].description }}</p>
            <a href="{{ site.posts[index].url }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      {% assign index = index | plus: 1 %}
    {% endfor %}
  </div>
  <br>
{% endfor %}
